<h1>Real Time</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody id="tbodyId">
        {{#each items}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.description}}</td>
                <td><button class="deleteButton" data-id="{{this.id}}">Delete</button></td>
            </tr>
        {{/each}}
    </tbody>
</table>

<h2>Form</h2>

<div id="itemForm">
    <input type="text" id="itemDescription" placeholder="Description"/>
    <button id="createItemButton">Create</button>
</div>

<h2>HTML Form</h2>
<form action="/api/items" method="POST">
    <input type="text" name="description" />
    <button type="submit">Create from form</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>