<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Page</title>
</head>
<body>
    <h1>Static Page</h1>
    <table id="itemTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tbodyId">
            
        </tbody>
    </table>
    <script src="/realtime.js"></script>
</body>
</html>
